table.favoriteTable  {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.favoriteTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.favoriteTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}